.bg-video {
    position: absolute;
    z-index: -2;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: right;
    overflow: hidden;
}

.bg-video::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(90deg,
        rgba(0, 0, 0, 1) 0%,
        rgba(0, 0, 0, .9) 50%,
        rgba(0, 0, 0, 1) 100%
    );
}

.container {
    height: 100vh;
    display: flex;
    flex-flow: row nowrap;
}

.container__left {
    position: relative;
    height: 100vh;
    flex: 1 1 30%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
}

.frame {
    border: 3px solid #000;
    border-radius: 5px;
}

.score-box {
    background-color: #fff;
    padding: 2rem;
}

.card-stats {
    background-color: #fff;
    padding: 2rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    width: 100%;
}

#card-name {
    font-size: .8rem;
}

#card-type {
    font-size: 1rem;
}

.container__right {
    position: relative;
    height: 100vh;
    flex: 1 1 70%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
}

.card-hand {
    position: relative;
    height: 9rem;
    width: 90%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
}

.card-table {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 2rem;
}

.card-table__top {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 2rem;
}

.card-display {
    height: 180px;
    width: 125px;
    border: 3px solid #fff;
    border-radius: 5px;
}

#btn-next-duel {
    display: none;
}